.boton-clear{
  height:90%;
  font-size: 1.6em;
  display: flex;
  flex: 1;
  background-color: #ac0246;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 45px;
}

.boton-clear:hover{
  background-color: #ebb000;
}

@media screen and (max-width: 768px){
  .boton-clear{
    height: 80%;
    display: flex;
    font-size: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
}
}

@media screen and (max-width: 360px){
  .boton-clear{
      height: 80%;
      display: flex;
      font-size: 1em;
      margin-top: 4%;
      margin-bottom: 4%;
  }
}